@model List<string>
    @*minuscule pour bing model*@


@{
    Layout = null;
    //Index.cshtml est une classe
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Test</h1>
        <ul>
            @foreach(var item in Model)
            //Majuscule pour faire appel à lobjet
            {
                <li>@item</li>
            }



        </ul>
        
    </div>
</body>
</html>
