@model IEnumerable<Roomy.Models.Room>
@{
    Layout = null;
}


<div class="row">

    @foreach (var item in Model)
    {
    <div class="col-md-3">
        <p>@item.Name</p>
        <p>@item.Price  €</p>
    </div>
            }
        
    </div>